/* CSS Reset */
* { all: unset; }
base, basefont, datalist, head, meta, script, style, title, noembed, param, template {
    display: none;
}
div {display: block;}

/*
color swatch

dark grey = #c3c1c4;
light grey = #dfdae0;
blue grey = #c2c1ce;
blue = #8fadbb;
dark blue grey = #7b8d96
*/

/* Main Styles */

section {
  height: 100vh;
  width: 100%;
  display: block;
  position: relative;
  clear: right;
  float: left;
  z-index: 2;
}
section ul {
  padding: 10em 0 0 0;
}
.landingPage {
  clear: none;
  float: none;
}
h1,h2,h3,h4,.sanSerifFont {
  font-family: 'Big Caslon', serif;
  text-transform: capitalize;
}
h3 {
  font-size: 4.5em;
  text-align: center;
  width: 100%;
  display: block;
  padding: 1em 0 0 0;
}
p {
  font-size: 2.25em;
  font-family: 'Adobe Devanagari', serif;
  display:inline-block;
  padding: 1em;
}
/* Logo/Header Styling */
.deskBreak {
  display: none;
}
header .logoWrapper {
  width: 11%;
  padding: .5em;
  position: fixed;
  border-radius: 25%;
  box-sizing: border-box;
  float: left;
  margin: 4%;
  z-index: 10;
  border: solid 5px #c3c1c4;
  background: rgba(255,255,255,.95);
}
header img {
  width: 100%;
}
.mobHam {
  width: 21%;
  left: 31%;
  position: absolute;
  top: 49%;
  display: none;
}
.titleWrapper {
  width: 100%;
  text-align: center;
  float: left;
  padding: 5.5em 0 2em 0;
  position: relative;
  z-index: 3;
}
.titleWrapper h1 {
  font-size: 3em;
  font-family: 'Adobe Devanagari', serif;
  letter-spacing: 2px;
}

/* navigation */
nav {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 0vh;
  background: rgba(255,255,255, .95);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s;
  overflow: hidden;
  z-index: 3;
}
ul {
  list-style: none;
  display: block;
}
nav li {
  padding: 1.25em 0;
  display: block;
  cursor: pointer;
}
nav ul a {
  text-decoration: none;
  font-size: 2.5em;
  letter-spacing: 5px;
  font-family: 'Big Caslon', serif;
  color: #000;
  text-transform: uppercase;
}

/*LP*/
.landingPage {
  height: 100vh;
  background: red;
  display: block;
  background: url(images/_Cover/Anh_Mosiah_Mariah_Maternity04252015-92.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 87%;
}
.landingPage img {
  display: none;
}

.leftCol {
  width: 100%;
  height: 100vh;
  position: relative;
}
/*about*/
.aboutSect .leftCol {
  /*background: #0DEA9D;*/
  background: url('images/brushed.png');
}
.aboutSect .mainCol {
  width: 100%;
  float: right;
  background: #fff;
  height: 100vh;
}
.aboutSect h2 {
  font-size: 4em;
  padding: 2em 0 1em 0;
  display: block;
  text-align: center;
}
.aboutSect img {
  width: 60%;
  margin: auto;
  display: block;
}
.deskNav {
  text-align: center;
  bottom: 2em;
  position: absolute;
  font-size: 2.5em;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.deskNav li {
  cursor: pointer;
}
/* gallery */
.mainCol img {
  display: block;
}
.gallerySect {
  position: relative;
  height: auto;
}
.weddingCol {
  background: #dfdae0;
}
.gallerySect img {
  width: 100%;
}
.deskGalleryNav {
  display: none;
}
.galNav {
  font-size: 2em;
  text-align: center;
}
.galNav li {
  display: block;
  width: 100%;
  margin:auto;
  font-size: 1.75em;
  text-transform: capitalize;
  padding: .25em 0;
  cursor: pointer;
  font-family: 'Big Caslon', serif;
  letter-spacing: 1px;
}
.selectedGal {
  border: solid 2px #fff;
  border-radius: 5px;
  padding: 2px 50px;
}
.engagementCol {
  background: #c2c1ce;
  clear: right;
}
.portraitCol {
  background: #7b8d96;
  clear: right;
}
/* pricing section */
.pricingSect {
  background: #fff;
  z-index: 9;
  border-bottom: 1px solid #c2c1ce;
  box-shadow: 0px 3px 8px 0px #c2c1ce;
}
.pricingSect .leftCol {
  height: auto;
  background: #fff;
  text-align: center;
}
.pricingSect .leftCol h2 {
  margin: auto;
  font-size: 2.5em;
  letter-spacing: 3px;
  padding: 1em 0 .25em 0;
  display: block;
}
.pricingCopy {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.3em;
}
.pricingSect .mainCol {
  background: url('images/_Wed/Felicia_Rommel_CEREMONY_11042017-167.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.curtainCall.curtainCall.curtainCall {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
}
.invisiDiv {
  height: 0vh;
  width: 100%;
  background: transparent;
  opacity: 0;
}

.contact {
  z-index: 0;
  height: auto;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  height: auto;
  background: brown;
  width: 100%;
  z-index: 1;
}
.fullContact {
  background: url('images/letSelf2.jpg');
  background: #fff;
  background-size: cover;
  width: 100%;
  height: auto;
}
.contactContent {
  /* height: 100%; */
  width: 100%;
  /* max-width: 800px; */
  background: #fff;
  margin: auto;
  /*border-left: solid 2px #c2c1ce;*/
  /*border-right: solid 2px #c2c1ce;*/
  box-sizing: border-box;
}
.contactContent h2 {
  margin: auto;
  font-size: 2.25em;
  letter-spacing: 2px;
  padding: 1em;
  display: block;
}
iframe #id_7 {
  display: none;
}
.socIcons {
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 12rem 0 3rem 0;
}
.socIcons a {
  display: inline-block;
  margin: 0 1%;
  width: 12%;
  padding-top: 3em;
}
.socIcons img {
  width: 100%;
}
/* ========================================================= Mob Landscape =========================================================*/
@media (max-width: 1023px) and (orientation: landscape) {
  header .logoWrapper {
    width: 7%;
    border: solid 3px #c3c1c4;
  }
  .aboutSect .leftCol {
    width: 30%;
    float: left;
  }
  .aboutSect h2 {
    font-size: 2.5em;
    padding: 3em 0 1em 0;
  }
  .aboutSect .deskNav {
    display: none;
  }
  .aboutSect .mainCol {
    width: 70%;
  }
  p {
    font-size: 1em;
  }
  section ul {
    padding: 2em 0 0 0;
  }
  .deskNav {
    font-size: 1.5em;
  }
  .galNav li {
    font-size: 1em;
  }
  .socIcons {
    width: 50%;
    padding: 1em;
  }
}
/* ========================================================= MED =========================================================*/
@media(min-width: 1024px) {
  .stickIt.stickIt {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
  }
  .stickItRight.stickItRight {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  h3 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
    padding: 1em 4em;
    text-align: left;
  }
  .deskBreak {
    display: block;
  }
  header .logoWrapper {
    width: 6%;
    margin: 2%;
    position: relative;
    padding: 0;
    border: none;
    background: none;
  }
  .titleWrapper {
    width: auto;
    padding: 1.75em 0 0 0;
    text-align: left;
    margin-left: -1.25em;
    line-height: 1.25em;
  }
  .titleWrapper h1 {
    font-size: 2em;
  }
  nav {
    position: relative;
    height: auto;
    background: transparent;
    display: block;
    transition: .25s;
    overflow: auto;
    width: 50%;
    float: right;
    padding: 1.5em 1em;
  }
  nav ul {
    width: 100%;
  }
  nav li {
    padding: 2% 0;
    display: inline-block;
    width: 25%;
    float: left;
  }
  nav ul a {
    font-size: .65em;
  }

  /* about */
  .aboutSect h2 {
    font-size: 1.5em;
    padding: 2em 0 1em 0;
    width: 100%;
    letter-spacing: 3px;
  }
  .leftCol.leftCol {
    width: 40%;
    float: left;
  }
  .mainCol.mainCol {
    width: 60%;
    float: right;
  }
  .aboutSect img {
    width: 60%;
  }
  .deskNav {
    font-size: .55em;
  }

  /*gallery*/
  .leftCol .galNav,
  .gallerySect .leftCol .deskNav {
    display: none;
  }
  .deskGalleryNav {
    display: block;
    width: 30%;
    z-index: 7;
    position: absolute;
    height: 100vh;
  }
  .gallerySect .leftCol {
    width: 30%;
  }
  .gallerySect .mainCol {
    width: 70%;
  }
  .galNav {
    font-size: 1em;
  }
  .galNav li {
    font-size: 1.25em;
  }
  .contact {
    height: 100vh;
  }
  footer {
    position: fixed;
    height: 100vh;
  }
  .socIcons {
    width: 50%;
    padding: 2rem 0 1.75rem 0;
    position: fixed;
    top: 0;
    left: 25%;
  }
  .socIcons a {
    margin: 0 2%;
    width: 9%;
    padding-top: 0;
    cursor: pointer;
  }
}

/* ========================================================= LARGE =========================================================*/
@media(min-width: 1280px) {
  .titleWrapper {
    padding: 2.5em 0 0 0;
  }
}
